<h1>Cadastro de usuário</h1>
<form action="/user/create" method="post">
    <div>
        <label for="name">Nome</label>
        <input type="text" name="name">
    </div>
    <div>
        <label for="occupation">Profissão</label>
        <input type="text" name="occupation">
    </div>
    <div>
        <input type="checkbox" name="newsletter" id="newsletter">
        <label for="newsletter">Gostaria de receber nossa newsletter?</label>
    </div>
    <div>
        <input type="submit" value="Cadastrar">
    </div>
</form>