<a href="/">Voltar</a>
<h2> {{user.name}} </h2>
<p> {{user.occupation}} </p>
<p>Recebe newsletter?
    <span>
    {{#if user.newsletter}}
        Sim
    {{else}}
        Não
    {{/if}}
    </span>
</p>