<h1>Cadastro de novo livro</h1>
<div>

    <form action="/bookcad" method="post">
        <div>
            <label for="title">Título</label>
            <input type="text" name="title">
        </div>
        <div>
            <label for="pageqty">Quantidade de páginas</label>
            <input type="number" name="pageqty">
        </div>
        <div>
            <input type="submit" value="Cadastrar">
        </div>
    </form>
</div>