<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mysql com Node</title>
</head>
<body>
    <div class="container">
        <h1>Node com MySQL</h1>
        <nav>
            <button>
                <a href="/">Home</a>
            </button>
            <button>
                <a href="/books">Livros</a>
            </button>
        </nav>

            {{{body}}}

        <footer>
            <p>Desenvolvido por <a href="https://github.com/vscatine" target="_blank" rel="noreferrer">Vitor Scatine</a></p>
        </footer>
    </div>
</body>
</html>