<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Handlebards task</title>
</head>
<body>
    <h1>Loja de produtos do Vitor</h1>
    <nav><button><a href="/">Home</a></button></nav>

    <div class="container">{{{body}}}</div>

    <footer>
        <div>
            Desenvolvido por Vitor Scatine
        </div>
    </footer>
    
</body>
</html>