<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Tasks - MVC</title>
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><a href="/tasks">Tarefas</a></li>
            <li><a href="/tasks/add">Adicionar</a></li>
        </ul>
    </nav>
    {{{body}}}
</body>
</html>