<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>
<body>
    <h1>Home do meu site</h1>
    <div>
        <button>
            <a href="/secao/noticias">Notícias</a>
        </button>
        <button>
            <a href="/secao/futebol">Futebol</a>
        </button>
        <button>
            <a href="/secao/entretenimento">Entretenimento</a>
        </button>
    </div>
</body>
</html>