<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sequelize</title>
</head>
<body>
    <div class="container">
        <h1>Sequelize</h1>
        <nav>
            <button>
                <a href="/users/create">Cadastrar</a>
            </button>
        </nav>

            {{{body}}}

        <footer>
            <p>Desenvolvido por <a href="https://github.com/vscatine" target="_blank" rel="noreferrer">Vitor Scatine</a></p>
        </footer>
    </div>
</body>
</html>