<h1>Meu site com Handlebars</h1>
<h2>Olá, {{user.name}} {{user.surname}} </h2>
<div>
    <button>
        <a href="/news">Notícias</a>
    </button>
</div>
<div>
    {{#if auth}}
        <p>Você está autenticado <a href="/dashboard">clique aqui</a> para acessar a área logada</p>
    {{else}}
        <p>Aproveita a área deslogada do site.</p>
    {{/if}}
</div>