<h1>Dashboard</h1>
<p>Essa é uma área logado do sistema.</p>
<div>
    <ul>
        {{#each items}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
</div>
<div>
    <button>
        <a href="/">Home</a>
    </button>
</div>