<h1>Notícias</h1>
{{#with post}}
<div>
    <h3> {{title}} </h3>
    <h5>Categoria: {{category}} </h5>
    <p> {{body}} </p>
</div>
{{/with}}
<div>
    <button>
        <a href="/">Home</a>
    </button>
</div>